<app-navbar></app-navbar>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <!-- componente header -->
                <div class="header col-md-12">
                    <div class="col-md-10">
                      <div class="row">
                        <div class="col-sm-12"><h3 class="font18">Jhonata Vinicius Almeida Lopes</h3></div>
                        <div class="cor col-sm-6">Telefone: (63) 99989-8834</div>
                        <div class="cor col-sm-6">Email: jhonatavini458@gmail.com</div>
                      </div> 
                    </div>
                
                </div>
        <div class="row">
            <hr>
        <!-- todo o conteudo  -->
        <div class="conteudo col-sm-8">
            <div class="col-sm-12">
                <h5>Resumo</h5>
                <hr>
                <p class="recuo"> Oi, sou Jhonata Vinicius Almeida Lopes, 
                    atualmente estou me formando em análise e 
                    desenvolvimento de sistemas.
                </p>
                <p class="recuo" style="margin-top: 10px;">
                      Busco uma vaga no mercado onde posso colocar os conhecimentos 
                    adquiridos em prática e colaborar com equipes de trabalho.
                    Quero sempre estar em constante aprendizado,
                    não importa onde, mas aprendizado é essencial para melhorar 
                    meu conhecimento e me tornar um profissional cada vez mais qualificado.
                </p>
            </div>
           <div class="col-sm-12">
             <h5>Experiência Profissional</h5>
             <hr>
              <ul>
                <li><a href="https://resourceit.com/pt/"><strong>Qintess, Projeto Santander – São Paulo SP</strong></a></li>
                <p>Cargo: Assistente técnico</p> 
                <p>Nov/2019 – Presente</p> 
                
                <li><a href="https://resourceit.com/pt/"><strong>Qintess, Projeto Ativa investimentos – São Paulo SP</strong></a></li>
                <p>Cargo: Estagiário</p> 
                <p>Mai/2019 – Nov/2019</p>
                
                <li><strong><a href="https://www.unasp.br/sp/">Centro Universitário Adventista de São Paulo – São Paulo SP</a></strong></li>
                <p>Cargo: Assistente técnico</p>  
                <p>Jan/2018 – Jul/2019</p>       
             </ul>
           </div>
            <div  class="col-sm-12">
                <h5>Educação e formação</h5>
                <hr>
                <ul>
                    <li>
                        <strong>2020</strong>
                        <p>Tecnólogo em Análise e desenvolvimento de Sistemas | UNASP (Ainda Cursando)</p>
                        <a href="https://drive.google.com/file/d/1A7KnwDanYCnOUUeU-NWJDLqjd1_bTyL1/view?usp=sharing">
                            <p>Scrum Foundation Professional Certificate (SFPC) | CertiProf</p>
                        </a>
                    </li>
                    <li>
                        <strong>2019</strong> 
                        <a href="https://drive.google.com/file/d/1Ra-WD7Kw_Qk3LSvelefWD6S2BCWQBtkg/view?usp=sharing">
                            <p>Imersão Chatbots para Whatsapp | QODA</p>
                        </a>
                        <a href="https://drive.google.com/file/d/1aRieOimWw9y7btEoncAKviehJ6Gu3fsf/view?usp=sharing">
                            <p>HACKAPÃO | UNASP</p>
                        </a>
                        <a href="https://drive.google.com/file/d/1e1_v-nxTV2HtmF8n2cmMB4jODGkXYUcX/view?usp=sharing">
                            <p>Segurança em Tecnologia da Informação | Fundação Bradesco</p>
                        </a>
                    </li>
                    <li>
                        <strong>2018</strong> 
                        <a href="https://drive.google.com/file/d/12DjRWIOetHH1mWPAWV0tf1xBrI0Na-Q0/view?usp=sharing">
                            <p>II Techweek do UNASP "O mundo das Startups" | UNASP</p>
                        </a>

                        <a href="https://drive.google.com/file/d/1QP4JcrS4o2YuwE1Op1ElP9GeXjs4Wd0e/view?usp=sharing">
                            <p>CASE | Abstartups</p>
                        </a>
                    </li>
                    <li>
                        
                        <strong>2016</strong>
                        <a href="https://drive.google.com/file/d/10JuI2XZWyBwO4l-sompZYoz8xcwp_fT7/view?usp=sharing">
                            <p>Técnico em Rede de computadores | Instituto Federal De ciência e Tecnologia do Tocantins</p>
                        </a>
                        
                    </li>
                </ul>
            </div>
        </div>

        <!-- lateral -->
        <div class="lateral col-sm-4" >
            <div  class="col-sm-12">
                <h5>Competências Profissionais</h5>
                <hr>
                <ul class="semponto">
                    <p>Front-End</p>
                    <li>Angular (Intermediário)</li>
                    <li>JavaScript (Básico)</li>
                    <li>React (Básico)</li>
                    <p style="margin-bottom: 16px; margin-top: 20px;">Back-End</p>
                    <li>C# (Básico)</li>
                    <li>Node.js (Básico)</li>
                </ul>
            </div>
            <div  class="col-sm-12">
                <h5>Idiomas</h5>
                <hr>
                <ul>
                    <li>Português (Nativo)</li>
                    <li>Inglês (Básico)</li>
                </ul>
            </div>

        </div>
    </div>

        <!-- footer do site -->
        <div class="footer col-sm-12">
            <hr>
            <span>Todos os direitos reservados para <strong>₢ Jhonata V A Lopes</strong></span>
            <div>
                <a rel="stylesheet" href="https://www.linkedin.com/in/jhonata-vinicius-almeida-lopes-795484160/">
                    <img class="logo" src="./../../assets/linkedin-brands.svg" alt="LinkedIn">
                </a>
            </div>
            <div>
                <a href="https://github.com/JhonataVini">
                    <img class="logo" src="./../../assets/github-square-brands.svg" alt="GitHub">
                </a>
            </div>
            
        </div>
      </div>
    </div>
</div>