<app-navbar></app-navbar>

<div class="container">
    <div class="jumbotron">
        <div class="row">
        <div class="col-md-12">
            <h4>Sobre</h4>
            <hr>
            <p class="recuo">Olá tudo bem? Sou o Jhonata e estou aqui para falar um pouco sobre mim.</p>
            <p> Sou uma pessoa calma, que gosta de ajudar as pessoas, gosto muito de tecnologia e sempre estou estudando algo novo,
                atualmente estou estudando mais sobre JavaScript e React Native, aprender algo novo sempre é bom e estou disposto a aprender.
                Pretendo ser Full Stack e por isso estou correndo atrás do meu Back-End também. 
                Sou adventista do 7° dia, sabatista de acordo com a Bíblia <strong>Êxodo 20:8-11.</strong></p>
            <p>Eu gosto do que eu faço, sempre aprendo algo novo todos os dias.</p>
        </div>

        <div class="col-md-12">
            <h4>Projetos Solidários</h4>
            <hr>
            <ul>
                <li>Aulas para idosos de informática básica | UNASP</li>
                <p class="recuo"> Participei de um projeto feito pelo professor <a href="https://www.nied.unicamp.br/equipe/roberto-sussumu-wataya/">Roberto Sussumu Wataya</a> da facudade <a href="https://www.unasp.br/sp/">UNASP</a> que ensinava os idosos a utilizar o computador, 
                    passamos 6 meses dando aulas de digitação, uso de funcionalidades, como utilizar o Word e Exel, 
                    e ensinamos também a usarem a internet para acessar as redes sociais e para a pesquisa. 
                </p>
                <li>Programa de Capacitação e Atualização em Informática Básica | UNASP</li>
                <p class="recuo">Participei do projeto feito pelo <a href="http://www.findglocal.com/BR/S%C3%A3o-Paulo/284306245087477/Proad-UNASP-S%C3%A3o-Paulo">PROAD</a> 
                    de ensinar os alunos do ensino superior que estavam com dificuldades de enviar trabalhos no ambiente virtual da faculdade <a href="https://www.unasp.br/sp/">UNASP</a>,
                    fiz também uma capacitação com todos para que eles tivessem um melhor desempenho nas suas atividades escolares, ensinado as regras e normas da ABNT, como manusear o Word e Excel também,
                    foram 6 meses de muito aprendizado para todos, e os alunos que fizeram essa capacitação ganharam um certificado valendo horas complementares.
                </p>
            </ul>
            
            
        </div>

    <div class="footer col-sm-12">
        <hr>
        <span>Todos os direitos reservados para <strong>₢ Jhonata V A Lopes</strong></span>
        <div>
            <a rel="stylesheet" href="https://www.linkedin.com/in/jhonata-vinicius-almeida-lopes-795484160/">
                <img class="logo" src="./../../assets/linkedin-brands.svg" alt="LinkedIn">
            </a>
        </div>
        <div>
            <a href="https://github.com/JhonataVini">
                <img class="logo" src="./../../assets/github-square-brands.svg" alt="GitHub">
            </a>
        </div>
        
    </div>
</div>
</div>
</div>