<app-navbar></app-navbar>
<div class="container">
    <div class="jumbotron">
        <div class="row">

     
        <h4>Experiências profissionais</h4>
        <hr>
        <div>
                <ul>
                    <div class="col-sm-12">
                        <hr>
                        <h5>Qintess</h5>
                        <li><strong>Projeto Santander</strong></li>
                        <p class="recuo">A atualização de soluções utilizando o Angular e Java nas aplicações do
                             sistema de atendimento ao cliente(Caixa), o projeto consistia na atualização de toda a 
                             parte de atendimento ao cliente onde o atendente do caixa e o gerente tem acessos, as 
                             plataformas estavam em VisualBasic 6 o front-end e o back-end estava na linguagem Cobol,
                              estamos lidando com a reversa e com os passos de implementação para o cliente Santander.
                        </p>
                        <p class="recuo"><strong>Tecnologias:</strong> Framework SPA - Angular 5.0.0, 
                            CSS Preprocessor - Sass 4.7.3, Javascript Engine - Node.js 8.4.0, 
                            Scaffolding - Yeoman 1.8.5, Automation Server - jenkins 2.7, Build - Webpack 3.3.0,
                            Gestão de Dependências - npm 5.3.0, Repositório de Dependências - Nexus 3.0.0, 
                            Testes Unitários - Jasmine 2.6.2 / Karma 1.2.0, 
                            Testes Funcionais - Cucumber.js 2.3.1 /Selenium 3.4.0, Análise Estática - TsLint 5.0.0, 
                            Quality Profiler - Typescript 2.1.6, Quality Gate - Sonar 5.6.5 Segurança – Fortify, C++, 
                            Cobol, Visual Cobol - Net Express, Visual Basic 6.0, PL-SQL, JAVA, Jenkins CI/CD, Jira, 
                            GitLab. Container, Kubernetes
                        </p>
                    </div>
                    

                    <div class="col-sm-12">
                        <hr>
                        <h5>Qintess</h5>
                    <li><strong>Projeto Ativa investimentos</strong></li>
                    <p class="recuo">A criação de uma nova plataforma com novos ícones e cores para o site de 
                        investimentos da Ativa Investimentos pois o site que tinham não suportava todos os clientes de 
                        uma vez, então contrataram uma equipe da empresa Resource para fazer esse projeto de reestruturação
                         de todo o seu site e projeto da empresa, com essa nova reestruturação eles podem ganhar muito mais ientes e dinheiro.
                        A stack tecnológica adotada foi baseada em novas tecnologias focadas em escalabilidade e flexibilidade para as futuras alterações e evolução do produto.
                    </p>
                    <p class="recuo"><strong>Tecnologias:</strong> .net Core 2.2, .net Core 3.0, Kubernetes, 
                        Rancher, Docker, MySql, RabbitMQ, Rebus,
                        Redis, ELK, Keycloak SSO, Node, Nest.js, Angular 7, Rxjs, Infraestrutura cloud da AWS, Terraform,
                        Github, TravisCI, Docker Hub, Docker Cloud,Microserviços,
                         DDD, CQRS, Event Streamming,
                        Mensageria, Processos Síncronos e Assincronos, Banco de dados Histórico,
                         API Gateway, TDD, Testes de aceitação automatizados (Selenium),DevOps.
                    </p>
                    </div>
                    
                    <div class="col-sm-12">
                        <hr>
                        <h5>Centro Universitário Adventista de São Paulo</h5>
                        <li><strong>Auxílio para professores e alunos do campus</strong></li>
                        <p class="recuo">Auxiliei os professores nas aulas com o laboratório de informática, pois muitas vezes precisavam de equipamentos que não estavam ao alcance e eu estava lá para ajudar, ajudando os alunos a ter acesso aos computadores e monitorando o que cada um estava acessando através de um computador. Em outro computador eu podia ver o que todo mundo estava acessando por meio do programa Veyon e Lan School para não deixar os usuários acessar sites proibidos pela instituição. A parte de manutenção de redes e configuração de sistemas fazíamos em horários que não tinha muita movimentação nas salas e nos finais de semestres, usávamos o Fog Server para fazer a manutenção dos sistemas.
                            Nesse período eu também dava aulas de informática básica para a graduação e para os idosos, todos os domingos eu dedicava para as ações sociais da faculdade.
                        </p>
                        <p class="recuo"><strong>Tecnologias:</strong>  ASP.NET, Java, Lan School, Veyon, fog server.
                        </p>
                        <hr>
                    </div>
                </ul>
        </div>
        <div class="footer col-sm-12">
            <hr>
            <span>Todos os direitos reservados para <strong>₢ Jhonata V A Lopes</strong></span>
            <div>
                <a rel="stylesheet" href="https://www.linkedin.com/in/jhonata-vinicius-almeida-lopes-795484160/">
                    <img class="logo" src="./../../assets/linkedin-brands.svg" alt="LinkedIn">
                </a>
            </div>
            <div>
                <a href="https://github.com/JhonataVini">
                    <img class="logo" src="./../../assets/github-square-brands.svg" alt="GitHub">
                </a>
            </div>
            
        </div>
    </div>
    </div>
</div>
 